.App {
  font-family: sans-serif;
  text-align: center;
}

button[aria-selected="true"] {
  background: white;
  color: #4299e1;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  /* bg-blue-500 bg-white shadow-md */
}
